html, body {
  height: 100%; 
  margin: 0; 
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  margin: auto;
}

.score-meter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: white; 
}
